
HouseholdChoreManager/.idea/copyright/profiles_settings.xml
HouseholdChoreManager/.idea/compiler.xml
HouseholdChoreManager/.idea/misc.xml
HouseholdChoreManager/.idea/vcs.xml
HouseholdChoreManager/.idea/misc.xml
HouseholdChoreManager/.idea/misc.xml
HouseholdChoreManager/.idea/misc.xml
